/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600;700&display=swap');
$main-font: 'Baloo Tamma 2',
sans-serif;

/* COLORS */
$color-primary: #5076c9;
$color-secondary: #d2d6ef;
$color-accent: #ff70a6;

/* SHADOW */

$soft-shadow: 0 1px 3px rgba($color: #000000, $alpha: .3);